# Excluded everything by default
*

# Whitelist directories so file patterns may be included
!*/

# Include specific file patterns
!/.github/workflows/*.yaml
!/.github/workflows/*.yml
!/.gitignore
!/.mocharc.json
!/.vscodeignore
!/README.md
!/client/package.json
!/client/src/*.ts
!/client/test/spec/**/*.ts
!/client/testFixture/*.txt
!/client/tsconfig.json
!/esbuild.js
!/eslint.config.mjs
!/integ/spec/**/*.ts
!/integ/tsconfig.json
!/package.json
!/scripts/*.sh
!/server/package.json
!/server/src/*.ts
!/server/test/bin/*.ps1
!/server/test/bin/*.sh
!/server/test/spec/**/*.ts
!/server/tsconfig.json
!/settings.json
!/tsconfig.json

# Exclude problematic file patterns
/.test-extensions
/lfortran
