# Excluded everything by default
*

# Whitelist directories so file patterns may be included
!*/

# Include specific file patterns
!/_config.yml
!/.gitignore
!/images/**/*.png
!/README.md
!/videos/**/*.gif
