.vscode
node_modules
client
server
tsconfig.json
webpack.config.js
esbuild.js
eslint.config.mjs
.git
.github
.gitignore
integ
*.vsix
.mocharc.json
settings.json
.test-extensions
tsconfig.json
versions.txt
.vscodeignore
.vscode-test
out/integ
lfortran
lfortran.bak
*.log
